<div>
    <label for="nameInput">Name: </label>
    <input type="text" id="nameInput" [(ngModel)]="nameObject">

    <label for="priceInput">Price: </label>
    <input type="text" id="priceInput" [(ngModel)]="priceObject">

    <label for="categoryInput">Category: </label>
    <input type="text" id="categoryInput" [(ngModel)]="categoryObject">

    <label for="quantityInput">Quantity: </label>
    <input type="text" id="quantityInput" [(ngModel)]="quantityObject">

    <button>Add Product</button>
</div>