<div class="container">
  <div class="kwadraciki">
    <h2>Pierwszy kwadrat</h2>
    <p>Pierwszy opis</p>
    <p>Pierwszy rating</p>
<app-komponencik select="tosamo"></app-komponencik>
  </div>

<div class="kwadraciki">
    <h2>Drugi kwadrat</h2>
    <p>Drugi opis</p>
    <p>Drugi rating</p>
    <app-komponencik select="tosamo"></app-komponencik>
  </div>

  <div class="kwadraciki">
    <h2>Trzeci kwadrat</h2>
    <p>Trzeci opis</p>
    <p>Trzeci rating</p>
    <app-komponencik select="tosamo"></app-komponencik>
  </div>
</div>