  <div class="list-grid-container">
    <div class="div-buttons">
      <button (click)="showList()"><i class="fas fa-list"></i></button>
      <button (click)="showGrid()"><i class="fa-solid fa-table-cells-large"></i></button>
    </div>
  
 

    <div *ngIf="isListView; else gridTemplate" class="list-container">
      <mat-table [dataSource]="books" class="mat-elevation-z8">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let book"> {{book.title}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
          <mat-cell *matCellDef="let book"> {{book.author}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="availability">
          <mat-header-cell *matHeaderCellDef>Availability Status</mat-header-cell>
          <mat-cell *matCellDef="let book"> {{book.availability}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="['title', 'author', 'availability']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['title', 'author', 'availability']"></mat-row>
      </mat-table>
    </div>
  
    <ng-template #gridTemplate>
      <div class="grid-container">
        <div class="grid-item" *ngFor="let title of titles">
          <div *ngIf="!isEditing" class="title">{{ title.title }}</div>
          <input *ngIf="isEditing" [(ngModel)]="title.title" class="title-input">

          
          <div class="author">{{ title.author }}</div>
          <div class="author">{{ title.availability }}</div>
          
          <button *ngIf="!isEditing" (click)="editRow(title)">Edit</button>
          <button *ngIf="isEditing" (click)="saveRow(title)">Save</button>
          <button *ngIf="isEditing" (click)="cancelEdit()">Cancel</button>
        </div>
      </div>

    </ng-template>
  </div>

