<div>
    <button class="list-button" (click)="showList()"><i class="fas fa-list"></i></button>
    <button class="grid-button" (click)="showGrid()"><i class="fa-solid fa-table-cells-large"></i></button>
</div>


<div *ngIf="list else grid"></div>
<ng-template #list>
<div>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Availability Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.availability }}</td>
          </tr>
        </tbody>
      </table>
</div>
</ng-template>


<ng-template #grid>
<div class="grid-container">
    <div class="grid-item" *ngFor="let book of books">
      <div class="title">{{ book.title }}</div>
      <div class="author">{{ book.author }}</div>
      <div class="availability">{{ book.availability }}</div>
    </div>
  </div>
</ng-template>